#calculator{
  border: 1px solid rgb(187,183,183);
  border-radius: 5px;
  height:300px;
  width:200px;
}

#display{
  margin: 10px;
  width: 86%;
  font-size: 25px;
  background-color: antiquewhite;
}
#button
{
  width: 45px;
  height: 45px;
  margin: 3px;
  background-color: rgb(77, 223, 223);
}
.button-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: blue;
}
